{% extends "Dashboard.html" %}
{% load static %}
{% block content %}
<!-- Decoration heading-->
<div class="col-lg-8" >
    <h2 class="mt-2">Update Games Details</h2>
    <hr />
<!--    Form for updating decoration-->
<form  action="/games/games_update/{{games.id}}" method="POST" >
    {% csrf_token %}
<!--    Decoration name-->
   <div class="input-group md-form form-sm">
        <div class="input-group-append mt-2" >
            <label class=" col-lg-6 col-md-4 col-sm-4 required">Game Name:</label>
            <input type="text" name="name" id="name" class="form-control col-lg-10" value="{{games.name}}">
        </div>
   </div>
    <!-- Decoration Type -->
    <div class="input-group md-form form-sm ">
        <div class="input-group-append mt-2">
            <label class="col-lg-6 col-md-4 col-sm-4 required">Game Type:</label>
            <select class="form-control col-lg-10  ml-2 mb-2" id="type" name="type" value="{{games.type}}">
                <option>Role Playing Game</option>
                <option>Battle Royale</option>
                <option>Board Games </option>
            </select>
        </div>
    </div>
<!--    Price-->
    <div class="input-group md-form form-sm ">
        <div class="input-group-append mt-2">
            <label class="col-lg-6 col-md-4 required">Game Price:</label>
            <input type="text" name="price"  id="price"  class="col-lg-10 form-control" value="{{games.price}}">
        </div>
    </div>
    <!-- Image-->
    <div class="input-group md-form form-sm ">
        <div class="input-group-append mt-3">
            <label class="col-lg-4 col-md-4 required">Upload Image:</label>
            <input type="file" name="image"  id="image"  class="form-control col-lg-8"
                   style="margin-left:30px" value="{{games.image}}">
        </div>
    </div>
    <!--Buttons -->
    <div class="btn-group m-3">
        <input value="Confirm Update" type="submit"
               class="btn btn-success" style="margin-left:180px; margin-right:16px;"  />
        <a href="/games/games_view"><button type="button" class="btn btn-danger ml-3">
            <i class="fa fa-remove mr-1 "></i>Cancel</button></a>
    </div>

</form>
</div>
<!--Script to make active sidebar-->
<script type="text/javascript">
    $(function () {
        $('.sidebar').find('.active').removeClass('active');
        $('#decorations').addClass('active');
    });
</script>
<!--Js for validation -->
<script src="{% static 'js/decoration.js' %}"></script>
{% endblock %}

