<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go For Game</title>
    <link rel="stylesheet" href="{% static 'css/home2style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
    crossorigin="anonymous">
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="loader">
        <div></div>
    </div>
    <section class="header">
        
        <nav>
            <h1 class="logo" style="color:aquablue;">Go for game</h1>
               <div class="nav-links" id="navLinks" >
                <i class="fa fa-times" onclick="hidemenu()"></i>

                   <ul >
                    <li ><a href="/login" style="color:white; text-decoration:none;">Home</a></li>
                       <li ><a href="/login" style="color:white; text-decoration:none;">Login</a></li>
                       
                   
                   </ul>
               </div>
               <i class="fa fa-bars" onclick="showmenu()" ></i>

        </nav>
<div class="textbox">
    <h1>Enjoy Games at affortable prices</h1>

    </div>
    <div class="scroll-down">
    </div>
    </section>

  
</section>

<title>All Games  </title>

<section class="game-section bg-light">
    <h1>Our Top Most Games </h1>
    <div class="container-fluid game-col">
        <div class="row">
            {% for game in games %}
            <!-- Images in card-->
            <div class="col-lg-6 col-md-6 my-4">
                <div class="card">
                    {% load static %}
                    <img height="390px" src="{% static 'images/' %}{{game.image}}"/>
                    <!--  Decoration details -->
                    <div class="card-body">
                        <b>game ID:</b>  {{game.id}}<br />
                        <b>game Name:</b>  {{game.name}}<br />
                        <b>game Type:</b>  {{game.type}}<br />
                        <b>Price:</b>  {{game.price}}<br />
                        <form method="post" action="#">
                            {% if request.session.customer_id %}
                            <a class="btn btn-success ml-5 mt-3" href="/booking/booking_new/{{game.id}}"
                               title="Book Now">Buy  Now</a>
                            
                            {% else %}
                            <a class="btn btn-success ml-5 mt-3" href="/registration" title="Register" >Register Here First</a>
                            <p class="ml-5"style="color:red;" >***Please register first </p>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!--Facilities-->
<section class="facilities">
    <h1> Our Gaming catagory </h1>
    <p>
    </p>
      <div class="row">
          <div class="Facilities-col">
             <a href=/games/games_rpg > <img src="{%static 'images/rpggame.jpg' %}"></a>
              <h3><a href='/games/games_rpg' style="text-decoration: none; color:aqua;">ROLE PLAYING GAMES </a></h3>
              <p>Browse over the tons of RPG games </p>

          </div>
          <div class="Facilities-col">
            <a href='/games/games_battle'> <img src="{% static 'images/games1.jpg' %}"></a>
            <h3> <a href='/games/games_battle' style="text-decoration: none; color:aqua;" >Battle Royale </a></h3> 
            <p>Enjoy the new battle royal games with your friends </p>
         
            
        </div>
        <div class="Facilities-col">
            <a href='/games/games_board'><img src="{% static 'images/chess.jpg' %}"> </a>
            <h3> <a href='/games/games_board' style="text-decoration: none; color:aqua;" >Board Games </a></h3>
            <p>Old classic games with new enhancement are also avaliable
            </p>
            
        </div>
      </div>  

</section>
<!--- comments-->
<section>
    <h3 style="margin-right: 20px;">Contact Form</h3>
    {% for message in messages  %}
    <p style="color:green;" id =messages>****{{message}}****</p>
    {% endfor %}

<div class="container">
  <form action="/contact/contactnew" method="post">
      {% csrf_token %}
    <label for="fname">Your Name</label>
    <input type="text" id="fname" name="name" placeholder="Your name..">

    <label for="lname">Phone Number </label>
    <input type="text" id="lname" name="phone" placeholder="Your Phone Number..">

    <label for="lname"> Email Address </label>
    <input type="text" id="lname" name="email" placeholder="Your Email Address..">

    <label for="country">Contact Type</label>
    <select id="country" name="type">
      <option value="suggestion">Suggestion</option>
      <option value="product">Games </option>
      <option value="product">Feedback </option>
      <option value="website bugs">Website Bugs</option>
      <option value="delivery">Delivery</option>
      <option value="delivery">complain</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input class="btnsubmit" type="submit" value="Submit">
  </form>
</div>
<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}
    
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    
    input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    .container {
      border-radius: 5px;
      background-color: white;
      padding: 20px;
    }
    </style>
</section>


<section class="footer">
    <h4>Contact us</h4>
    <div class="icons">
    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-official" ></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" ></i></a>
    <a href="https://web.whatsapp.com/" target="_blank"><i class="fa fa-whatsapp" ></i></a>
    <a href="https://www.linkedin.com/signup" target="_blank"><i class="fa fa-linkedin"s></i>
    </a>
</div>
<div>
    <p>Feel free to leave feedback at <a href="https://mail.google.com/mail/u/0/#inbox?compose=new"><i class="fa fa-envelope-o" ></i></a><br>
     Made with <i class="fa fa-heart-o"> </i> 
    </p>
    </div>
</section>
    
    <script>
        var navlinks = document.getElementById("navLinks");
        function showmenu(){
            navlinks.style.right ="0";
        }
        function hidemenu(){
            navlinks.style.right="-200px"
        }
        $(window).on('load',function(){
            $(".loader").fadeOut(1000);
            $(".header").fadeIn(1000);
            $(".howto").fadeIn(1000);
            $(".facilities").fadeIn(1000);
            $(".testimonials").fadeIn(1000);
            $(".footer").fadeIn(1000);
        });

        
    </script>
</body>
</html>