<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go For Game</title>
    <link rel="stylesheet" href="{% static 'css/home2style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="loader">
        <div></div>
    </div>
    <section class="header">
        <nav>
            <h1 class="logo">Go for game</h1>
               <div class="nav-links" id="navLinks" >
                <i class="fa fa-times" onclick="hidemenu()"></i>

                   <ul>
                       <li><a href="/login">Login</a></li>
                   
                   </ul>
               </div>
               <i class="fa fa-bars" onclick="showmenu()" ></i>

        </nav>
<div class="textbox">
    <h1>Enjoy Games at affortable prices</h1>

    </div>
    </section>
  
</section>
<!--Facilities-->
<section class="facilities">
    <h1> Our Games</h1>
    <p>
    </p>
      <div class="row">
          <div class="Facilities-col">
             <a href=/games/games_rpg > <img src="{%static 'images/rpggame.jpg' %}"></a>
              <h3><a href='/games/games_rpg' style="text-decoration: none; color:aqua;">ROLE PLAYING GAMES </a></h3>
              <p>Browse over the tons of RPG games </p>

          </div>
          <div class="Facilities-col">
            <a href='/games/games_battle'> <img src="{% static 'images/games1.jpg' %}"></a>
            <h3> <a href='/games/games_battle' style="text-decoration: none; color:aqua;" >Battle Royale </a></h3> 
            <p>Enjoy the new battle royal games with your friends </p>
         
            
        </div>
        <div class="Facilities-col">
            <a href='/games/games_board'><img src="{% static 'images/chess.jpg' %}"> </a>
            <h3> <a href='/games/games_board' style="text-decoration: none; color:aqua;" >Board Games </a></h3>
            <p>Old classic games with new enhancement are also avaliable
            </p>
            
        </div>
      </div>  

</section>
<!--- comments-->


<section class="footer">
    <h4>Contact us</h4>
    <div class="icons">
    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-official" ></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" ></i></a>
    <a href="https://web.whatsapp.com/" target="_blank"><i class="fa fa-whatsapp" ></i></a>
    <a href="https://www.linkedin.com/signup" target="_blank"><i class="fa fa-linkedin"s></i>
    </a>
</div>
<div>
    <p>Feel free to leave feedback at <a href="https://mail.google.com/mail/u/0/#inbox?compose=new"><i class="fa fa-envelope-o" ></i></a><br>
     Made with <i class="fa fa-heart-o"> </i> 
    </p>
    </div>
</section>
    
    <script>
        var navlinks = document.getElementById("navLinks");
        function showmenu(){
            navlinks.style.right ="0";
        }
        function hidemenu(){
            navlinks.style.right="-200px"
        }
        $(window).on('load',function(){
            $(".loader").fadeOut(1000);
            $(".header").fadeIn(1000);
            $(".howto").fadeIn(1000);
            $(".facilities").fadeIn(1000);
            $(".testimonials").fadeIn(1000);
            $(".footer").fadeIn(1000);
        });

        
    </script>
</body>
</html>