{% extends "Dashboard.html" %}
{% block content %}
{% load static %}

<!--User details-->
  
       <h2 style="margin-left:5px">USER DETAILS</h2>
       <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
        <input type="text" placeholder="Search.." name="search2">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
        
   <a href="/user_create">
        <button class="btn btn-success mb-2 mt-2 "><i class="fa fa-plus mr-1"></i> Add New User</button>
   </a>
<!-- main sector /table area -->
    <div class="table-responsive-md  table-responsive-sm ml-3" >
        <table class="table table-bordered table-hover table-bordered table-striped" style="width:100%;" >
            <thead class="thead bg-light">
               <tr>
                   <th scope="col"> Admin ID</th>
                   <th scope="col">User name</th>
                   <th scope="col">Email Address</th>
                   <th scope="col">Last Login Details</th>
                   <th scope="col">Date of account Created</th>
                   <th scope="col">Actions </th>
               </tr>
            </thead>
            {% for user in users %}
                <tr class="tbody">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.last_login}}</td>
                    <td>{{user.date_joined}}</td>
                    
                    <th>
                        <a href="user_edit/{{user.id}}" style="color:green; text-decoration: none;"><i class="fa fa-pencil-square fa-lg" ></i> Edit here </a>
                        |
                        <a href="user_delete/{{user.id}}" style="color:red; text-decoration:none;"><i class="fa fa-trash-o ml-2 fa-lg "></i> Delete here</a>
                    </th>
                </tr>
            {% endfor %}
        </table>
    </div>
<!-- Pagination -->
 <div class="pagination d-flex justify-content-center">
      <form method="POST" action="">
            {% csrf_token %}
            {% if page > 1 %}
            <button class="btn btn-secondary p-1" name="prev">Previous</button>
            {% endif %}
            <input readonly class="text-center p-1"  value="{{page}}" name="page" />
            {% if pageItem == 4 %}
            <button name="next" class="btn btn-secondary p-1">Next</button>
            {% endif %}
      </form>
 </div>
   </div>
<!--Script to make active sidebar-->
<script type="text/javascript">
    $(function () {
        $('.sidebar').find('.active').removeClass('active');
        $('#user').addClass('active');
    });
</script>
{% endblock %}
